body {
    padding: auto;
    margin: auto;
    width: 70%;
}

h1 h2 h3 h4 h5 h6 {
    font-family: sans-serif;
    margin-bottom: -15px;
}

h1 {
    font-size: 32px;
}

table {
    border: 1px solid black;
    /* border-collapse: collapse; */
}

td {
    /* padding: 3px; Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
}

th {
    /* padding: 3px; Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
}

figcaption {
    font-style: italic;
}

img {
    float: right;
    margin: 7px 0 7px 7px;
    width: 200px;
    height: 200px;
}